:root {
  --standart-color: #222222;
  --secondary-color: #a3a3a5;
  --red-color: #3e3092;
  --colred-color: #f4223c;

  --custom-font: Ubuntu;
}
.wrapAddVac {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.profileWrap {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapSec {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
}
.pPosada {
  font-family: var(--custom-font);
  font-size: 25px;
  margin-top: 10px;
  font-weight: bold;
}
.inputSt {
  width: calc(65% - 10px);
  padding-left: 10px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;
}
.inputStSelect {
  width: calc(65% + 4px);
  padding-left: 10px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;
}

.wrapCountWhi {
  width: calc(65% + 4px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inputStSelectA {
  width: calc(100%);
  padding-left: 10px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;
}
.checkWrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.laberCheck {
  margin-top: 10px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pPosadaSmall {
  font-family: var(--custom-font);
  font-size: 15px;
  margin-top: 0px;
  color: var(--secondary-color);
  width: 190px;
}
.areaSt {
  width: calc(65% - 10px);
  padding-left: 10px;
  height: 150px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;
}
.addAllData {
  align-self: center;
  width: 150px;
  height: 40px;
  border: none;
  background: var(--standart-color);
  color: white;
  font-family: var(--custom-font);
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.h1AddV {
  font-family: var(--custom-font);
  color: var(--standart-color);
  margin-top: 50px;
}
.someC {
  margin-top: 100px;
  width: 500px;
}
.wrapRecFrec {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.yourVacWrap {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.h1YourVac {
  font-family: var(--custom-font);
  font-size: 30px;
  color: var(--standart-color);
}
.wrapSmYour {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.myVacWr {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.oneVacWr {
  padding-top: 15px;
  padding-bottom: 15px;
  width: calc(100% - 30px);
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 30px;
}
.pMain {
  font-family: var(--custom-font);
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.smallp {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--custom-font);
  color: rgb(152, 152, 152);
  font-size: 15px;
  width: 70%;
}
.wrapBig {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nameVac {
  font-family: var(--custom-font);
  color: var(--standart-color);
  text-decoration: none;
}
.otherInfo {
  font-family: var(--custom-font);
  color: var(--secondary-color);
  font-size: 18px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 50%;
}
.span {
  margin-right: 5px;
}
.textAbo {
  font-family: var(--custom-font);
  color: var(--standart-color);
  font-size: 15px;
  margin-top: 0;
}
.buttonAll {
  border: none;
  background: none;
  color: blue;
  font-family: var(--custom-font);
  font-size: 18px;
}
.filterWrap {
  margin-top: 10px;
  width: calc(30% - 20px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  margin-bottom: 400px;
}
.seacchP {
  font-family: var(--custom-font);
  font-size: 19px;
  color: var(--secondary-color);
}
.inputVacName {
  width: calc(100% - 10px);
  padding-left: 10px;
  height: 30px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}
.inputStSelectNew {
  width: calc(100%);
  padding-left: 10px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;
}
.posadaName {
  margin-top: 0;
  font-family: var(--custom-font);
}
.ulWrapLang {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  height: auto;
}
.liInLan {
  font-family: var(--custom-font);
  color: var(--secondary-color);
  font-size: 18px;
  margin-top: 0;

  margin-right: 5px;
}
.h2YouDonH {
  font-family: var(--custom-font);
}
.priceRange {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
.inputPrice {
  width: calc(150px - 15px);
  height: 30px;
  padding-left: 15px;
}
.fortFor {
  font-family: var(--custom-font);
  font-size: 17px;
}
.sortFotDiv {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.priceInpD {
  font-family: var(--custom-font);
  width: calc(170px - 15px);
  padding-left: 15px;
  font-size: 13px;
}
.wrapButton {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonCont {
  min-width: 150px;
  height: 35px;
  font-family: var(--custom-font);
  background: var(--standart-color);
  border: none;
  color: white;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) and (min-width: 300px) {
  .yourVacWrap {
    width: 99%;
  }
  .h1YourVac {
    font-size: 25px;
  }
  .wrapSmYour {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
  .myVacWr {
    width: 99%;
  }
  .filterWrap {
    width: calc(99% - 10px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
    margin-bottom: 0px;
  }
  .oneVacWr {
    width: calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;

    margin-top: 30px;
  }
  .nameVac {
    font-size: 15px;
    text-align: center;
  }
  .otherInfo {
    font-size: 12px;
    min-width: 50%;
  }
  .textAbo {
    font-size: 13px;
    height: auto;
    max-width: 100%;
    word-wrap: break-word;
  }
  .profileWrap {
    width: 99%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .pPosada {
    font-family: var(--custom-font);
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
  }
  .inputSt {
    width: calc(75% - 10px);

    height: 30px;

    font-size: 15px;
  }
  .inputStSelect {
    width: calc(75% - 10px);

    height: 30px;

    font-size: 15px;
  }
  .pWrapBig {
    width: 25%;
  }
  .pPosadaSmall {
    font-family: var(--custom-font);
    font-size: 15px;
    margin-top: 0px;
    color: var(--secondary-color);
    width: auto;
  }
  .wrapSmallFrec {
    width: 100%;
  }
  .prodWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .inputPrice {
    width: calc(100px - 15px);
    height: 30px;
    padding-left: 15px;
  }
  .buttonCont {
    min-width: 100px;
    height: 35px;
    font-family: var(--custom-font);
    background: var(--standart-color);
    border: none;
    color: white;
    font-weight: bold;
    padding-left: 15px;
    font-size: 10px;
    padding-right: 15px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 700px) and (min-width: 479px) {
  .yourVacWrap {
    width: 99%;
  }
  .h1YourVac {
    font-size: 25px;
  }
  .wrapSmYour {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
  .myVacWr {
    width: 99%;
  }
  .filterWrap {
    width: calc(99% - 10px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
    margin-bottom: 0px;
  }
  .oneVacWr {
    width: calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;

    margin-top: 30px;
  }
  .nameVac {
    font-size: 15px;
    text-align: center;
  }
  .otherInfo {
    font-size: 12px;
    min-width: 50%;
  }
  .textAbo {
    font-size: 13px;
    height: auto;
    max-width: 100%;
    word-wrap: break-word;
  }
  .profileWrap {
    width: 99%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .pPosada {
    font-family: var(--custom-font);
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
  }
  .inputSt {
    width: calc(75% - 10px);

    height: 30px;

    font-size: 15px;
  }
  .inputStSelect {
    width: calc(75% - 10px);

    height: 30px;

    font-size: 15px;
  }
  .pWrapBig {
    width: 25%;
  }
  .pPosadaSmall {
    font-family: var(--custom-font);
    font-size: 15px;
    margin-top: 0px;
    color: var(--secondary-color);
    width: auto;
  }
  .wrapSmallFrec {
    width: 100%;
  }
  .prodWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 700px) {
  .yourVacWrap {
    width: 99%;
  }
  .h1YourVac {
    font-size: 25px;
  }
  .wrapSmYour {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
  .myVacWr {
    width: 99%;
  }
  .filterWrap {
    width: calc(99% - 10px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
    margin-bottom: 0px;
  }
  .oneVacWr {
    width: calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;

    margin-top: 30px;
  }
  .nameVac {
    font-size: 15px;
    text-align: center;
  }
  .otherInfo {
    font-size: 12px;
    min-width: 50%;
  }
  .textAbo {
    font-size: 13px;
    height: auto;
    max-width: 100%;
    word-wrap: break-word;
  }
  .profileWrap {
    width: 99%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .pPosada {
    font-family: var(--custom-font);
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
  }
  .inputSt {
    width: calc(75% - 10px);

    height: 30px;

    font-size: 15px;
  }
  .inputStSelect {
    width: calc(75% - 10px);

    height: 30px;

    font-size: 15px;
  }
  .pWrapBig {
    width: 25%;
  }
  .pPosadaSmall {
    font-family: var(--custom-font);
    font-size: 15px;
    margin-top: 0px;
    color: var(--secondary-color);
    width: auto;
  }
  .wrapSmallFrec {
    width: 100%;
  }
  .prodWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1440px) and (min-width: 1024px) {
  .textAbo {
    font-size: 13px;
    height: auto;
    max-width: 100%;
    word-wrap: break-word;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 1024px) {
  .textAbo {
    font-size: 13px;
    height: auto;
    max-width: 100%;
    word-wrap: break-word;
  }
}
