:root {
  --standart-color: #222222;
  --secondary-color: #a3a3a5;
  --red-color: #3e3092;
  --colred-color: #f4223c;

  --custom-font: Ubuntu;
}
.wrapChat {
  width: 100%;
  height: auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapChatSmall {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 200px;
}
.h2Chat {
  font-family: var(--custom-font);
  color: var(--standart-color);
}
.chatWindovWrap {
  width: calc(100%);
  overflow-y: scroll;
  height: 500px;
  border: 1px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.formWrap {
  width: 100%;
  height: auto;
}
.theForm {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.formInput {
  border: 1px solid var(--secondary-color);
  border-top: none;
  width: calc(80% - 22px);
  min-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.buttonSub {
  width: calc(20%);
  border: 1px solid var(--standart-color);
  height: 35px;
  background: var(--standart-color);
  font-family: var(--custom-font);
  color: white;
  font-size: 16px;
}
.otherUserMessage {
  margin-top: 5px;
  display: flex;
  padding: 10px 10px 10px 10px;
  flex-direction: column;
  align-items: flex-end;
  max-width: 50%;

  align-self: flex-end;
}
.myMessage {
  padding: 10px 10px 10px 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
}
.outhNameMes {
  font-family: var(--custom-font);
  color: var(--standart-color);
}
.wrapMesMes {
  padding: 10px 10px 10px 10px;
  max-width: calc(100% - 20px);
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  word-wrap: break-word;
}
.notMymes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.myMymes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.pMes {
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 5px 5px 5px;
  width: auto;
  font-family: var(--custom-font);
  font-size: 15px;
}
.pTime {
  font-size: 12px;
  margin-top: 2px;
}
.desckWarning {
  font-family: var(--custom-font);
  color: var(--standart-color);
}
.allChatWrap {
  width: 100%;
  height: auto;
  margin-top: 100px;
}
.firstBlockWrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.smalWrC {
  width: 800px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chatRoomP {
  font-family: var(--custom-font);
  font-size: 25px;
  color: var(--standart-color);
  font-weight: bolder;
}
.chatOne {
  width: calc(500px - 60px);
  height: calc(160px - 60px);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid var(--secondary-color);

  border-radius: 5px;
}
.userInformation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconWrap {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconWrapPhoto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.picForChat {
  width: 100%;
  height: auto;
}
.userName {
  font-family: var(--custom-font);
  font-size: 20px;
}
.xfn {
  font-family: var(--custom-font);
  font-size: 20px;
}
.newMessage {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--custom-font);
  color: var(--secondary-color);
}
.linka {
  text-decoration: none;
  font-family: var(--custom-font);
  font-size: 20px;
  color: black;
}
@media only screen and (max-width: 600px) and (min-width: 300px) {
  .smalWrC {
    width: 300px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .chatRoomP {
    font-size: 20px;
  }
  .xfn {
    font-size: 17px;
  }
  .chatOne {
    width: calc(300px - 22px);
    height: calc(160px - 60px);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid var(--secondary-color);

    border-radius: 5px;
  }
  .wrapChatSmall {
    width: 99%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 200px;
  }
  .h2Chat {
    font-size: 15px;
  }
  .desckWarning {
    font-size: 12px;
  }

  .pMes {
    height: auto;
    max-width: 100%;
    word-wrap: break-word;
  }
  .formInput {
    border: 1px solid var(--secondary-color);
    border-top: none;
    width: calc(65% - 22px);
    min-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .buttonSub {
    width: calc(35%);
    border: 1px solid var(--standart-color);
    height: 35px;
    background: var(--standart-color);
    font-family: var(--custom-font);
    color: white;
    font-size: 16px;
  }
}
@media only screen and (max-width: 700px) and (min-width: 479px) {
  .smalWrC {
    width: 470px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .chatRoomP {
    font-size: 20px;
  }
  .xfn {
    font-size: 17px;
  }
  .chatOne {
    width: calc(470px - 22px);
    height: calc(160px - 60px);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid var(--secondary-color);

    border-radius: 5px;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 700px) {
  .smalWrC {
    width: 699px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 1440px) and (min-width: 1024px) {
}
@media only screen and (max-width: 1100px) and (min-width: 1024px) {
}
