:root {
  --standart-color: #222222;
  --secondary-color: #a3a3a5;
  --red-color: #3e3092;
  --colred-color: #f4223c;

  --custom-font: Ubuntu;
}
.wrapRecFrec {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapSmallFrec {
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.h1MyAco {
  font-family: var(--custom-font);
  font-size: 30px;
  color: var(--standart-color);
}
.linkToProfile {
  font-family: var(--custom-font);
  font-size: 20px;
  text-decoration: none;
}
.ulList {
  padding: 0;
  height: auto;
  list-style-type: none;
  width: 100%;
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.liList {
  margin-right: 40px;
  font-family: var(--custom-font);
  font-size: 25px;
  color: var(--standart-color);
  cursor: pointer;
  transition: color 0.5s ease;
}
.liList:hover {
  color: var(--secondary-color);
}
.activeTab {
  border-bottom: 2px solid red;
}
.profileWrap {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapSec {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
}
.pPosada {
  font-family: var(--custom-font);
  font-size: 25px;
  margin-top: 10px;
  font-weight: bold;
}
.pPosadaSmall {
  font-family: var(--custom-font);
  font-size: 15px;
  margin-top: 0px;
  color: var(--secondary-color);
  width: 190px;
}
.inputSt {
  width: calc(65% - 10px);
  padding-left: 10px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;
}
.areaSt {
  width: calc(65% - 10px);
  padding-left: 10px;
  height: 150px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;
}
.inputStSelect {
  width: calc(65% + 4px);
  padding-left: 10px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;
}
.wrapCountWhi {
  width: calc(65% + 4px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.checkWrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.laberCheck {
  margin-top: 10px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputStSelectA {
  width: calc(100%);
  padding-left: 10px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;
}
.pWrapBig {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.checkP {
  font-family: var(--custom-font);
  color: var(--standart-color);
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.checkWrapLevel {
  width: calc(65% - 10px);

  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapLengLev {
  width: calc(80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapL {
  width: 100%;
  height: auto;
  display: flex;
}
.randDiv {
  width: 65%;
  height: auto;
  display: flex;
  align-items: center;
}

.lanWr {
  width: 35%;
  padding-left: 10px;
  height: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;
  border: 1px solid var(--standart-color);
  border-radius: 5px 0 0 5px;
}

.lanWrW {
  width: 60%;
  padding-left: 10px;
  height: 40px;
  border: 1px solid var(--standart-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;

  border-radius: 0 0 0 0;
}
.buttonLang {
  width: 40%;
  height: 40px;
  color: white;
  border: 1px solid var(--standart-color);
  background: var(--standart-color);
  border-radius: 0 5px 5px 0;
}
.haveLan {
  font-family: var(--custom-font);
  color: var(--standart-color);
}
.haveLUl {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.therk {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.liliUl {
  font-family: var(--custom-font);
  color: var(--standart-color);
  font-size: 20px;
}
.addAllData {
  align-self: center;
  width: 150px;
  height: 40px;
  border: none;
  background: var(--standart-color);
  color: white;
  font-family: var(--custom-font);
  font-size: 18px;
}
.save {
  margin-top: 50px;
  margin-bottom: 50px;
  align-self: center;
  width: 150px;
  height: 40px;
  border: none;
  background: var(--standart-color);
  color: white;
  font-family: var(--custom-font);
  font-size: 18px;
}
.prodWrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 250px;
}
.smWrL {
  width: 80%;
}
.contactP {
  font-family: var(--custom-font);
  color: var(--standart-color);
  font-size: 40px;
}
.firstWrap {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.secondWrap {
  width: 30%;
}
.wrapPictureUs {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.pForTg {
  font-family: var(--custom-font);
  font-size: 20px;
  width: calc(65% + 4px);
}
@media only screen and (max-width: 600px) and (min-width: 300px) {
  .contactP {
    font-size: 25px;
  }
  .smWrL {
    width: 99%;
  }
  .firstWrap {
    width: 99%;
  }
  .pPosada {
    font-size: 15px;
  }
  .inputSt {
    width: calc(75% - 10px);

    height: 35px;

    font-size: 15px;
  }
}
@media only screen and (max-width: 700px) and (min-width: 479px) {
  .contactP {
    font-size: 25px;
  }
  .smWrL {
    width: 99%;
  }
  .firstWrap {
    width: 99%;
  }
  .pPosada {
    font-size: 15px;
  }
  .inputSt {
    width: calc(75% - 10px);

    height: 35px;

    font-size: 15px;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 700px) {
  .contactP {
    font-size: 25px;
  }
  .smWrL {
    width: 80%;
  }
  .firstWrap {
    width: 99%;
  }
  .pPosada {
    font-size: 15px;
  }
  .inputSt {
    width: calc(65% - 10px);

    height: 35px;

    font-size: 15px;
  }
}
@media only screen and (max-width: 1440px) and (min-width: 1024px) {
}
