:root {
  --standart-color: #222222;
  --secondary-color: #a3a3a5;
  --red-color: #3e3092;
  --colred-color: #f4223c;

  --custom-font: Ubuntu;
}
.wrapAddVac {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.profileWrap {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapSec {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
}
.pPosada {
  font-family: var(--custom-font);
  font-size: 25px;
  margin-top: 10px;
  font-weight: bold;
}
.inputSt {
  width: calc(65% - 10px);
  padding-left: 10px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;
}
.inputStSelect {
  width: calc(65% + 4px);
  padding-left: 10px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;
}

.wrapCountWhi {
  width: calc(65% + 4px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inputStSelectA {
  width: calc(100%);
  padding-left: 10px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;
}
.checkWrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.laberCheck {
  margin-top: 10px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pPosadaSmall {
  font-family: var(--custom-font);
  font-size: 15px;
  margin-top: 0px;
  color: var(--secondary-color);
  width: 190px;
}
.areaSt {
  width: calc(65% - 10px);
  padding-left: 10px;
  height: 150px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;
}
.addAllData {
  align-self: center;
  width: 150px;
  height: 40px;
  border: none;
  background: var(--standart-color);
  color: white;
  font-family: var(--custom-font);
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.h1AddV {
  font-family: var(--custom-font);
  color: var(--standart-color);
  margin-top: 50px;
}
.someC {
  margin-top: 100px;
  width: 500px;
}
.wrapRecFrec {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.yourVacWrap {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.h1YourVac {
  font-family: var(--custom-font);
  font-size: 30px;
  color: var(--standart-color);
}
.wrapSmYour {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.myVacWr {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.oneVacWr {
  width: calc(100% - 30px);
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}
.nameVac {
  font-family: var(--custom-font);
  color: var(--standart-color);
  text-decoration: none;
}
.otherInfo {
  font-family: var(--custom-font);
  color: var(--secondary-color);
  font-size: 18px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 50%;
}
.span {
  margin-right: 5px;
}
.textAbo {
  font-family: var(--custom-font);
  color: var(--standart-color);
  font-size: 15px;
  margin-top: 0;
}
.buttonAll {
  border: none;
  background: none;
  color: blue;
  font-family: var(--custom-font);
  font-size: 18px;
}
.filterWrap {
  margin-top: 10px;
  width: calc(30% - 20px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  margin-bottom: 400px;
}
.seacchP {
  font-family: var(--custom-font);
  font-size: 19px;
  color: var(--secondary-color);
}
.inputVacName {
  width: calc(100% - 10px);
  padding-left: 10px;
  height: 30px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}
.inputStSelectNew {
  width: calc(100%);
  padding-left: 10px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--custom-font);
  font-size: 20px;
}
.posadaName {
  margin-top: 0;
  font-family: var(--custom-font);
}
.ulWrapLang {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  height: auto;
}
.liInLan {
  font-family: var(--custom-font);
  color: var(--secondary-color);
  font-size: 18px;
  margin-top: 0;

  margin-right: 5px;
}
.h2YouDonH {
  font-family: var(--custom-font);
}
